* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.App__input {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 34px;
}

@media (max-width: 800px) {
    .App__input {
        width: 80%;
    }
}