.movie-container {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
    width: 1000px;
}

@media (max-width: 950px) {
    .movie-container {
        width: 100%;
    }
}